*,
*::before,
*::after {
  box-sizing: border-box;
}
ul,
ol {
  padding: 0;
  list-style: none;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: #000000;
}

@font-face {
  font-family: Exo2-VariableFont_wght; /* Имя шрифта */
  src: url(../fonts/Exo2-VariableFont_wght.ttf); /* Путь к файлу со шрифтом */
}

.button {
  display: flex;
  width: 130px;
  height: 35px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 0px;
  padding-bottom: 2px;
  font-size: 13px;
  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: auto;
  font-family: Exo2-VariableFont_wght;
  font-weight: 500;
  /* background-color: #000000; */
  background-color: #6cbbff;
  color: #ffffff;
}

.button:hover {
  box-shadow: 0 0 5px 5px #1f50ac9a;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .head {
    text-align: center;
    display: block;
    margin: auto;
    width: 300px;
  }

  .main-info {
    display: block;
    margin-bottom: 20px;
  }

  .main-spec {
    color: #414341;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .main-info__item {
    margin-bottom: 20px;
    font-family: Exo2-VariableFont_wght, sans-serif;
  }

  .main-name {
    margin-top: 10px;
    display: block;
    font-family: Exo2-VariableFont_wght, sans-serif;
  }

  .main-social-ico {
    display: flex;
    width: 290px;
    margin: 0 auto;
    justify-content: space-between;
    font-family: Exo2-VariableFont_wght, sans-serif;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px grey;
    margin-bottom: 20px;
  }

  .main-soc__link {
    text-decoration: none;
    color: #000000;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
  }

  .svg-size {
    width: 35px;
    height: 35px;
    fill: #6cbbff;
  }

  .photo {
    margin-top: 20px;
    display: block;
    border-radius: 10px;

    height: 360px;
    background-image: url(../img/stiven_b.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .main-about {
    display: block;
    margin: auto;
    width: 319px;
    text-align: justify;
    padding: 10px;
    margin-bottom: 50px;
  }

  .about-title__text {
    font-family: Exo2-VariableFont_wght, sans-serif;
    margin-bottom: 10px;
  }

  .about-main__text {
    font-family: Exo2-VariableFont_wght, sans-serif;
  }

  .main-exp {
    display: block;
    margin: auto;
    width: 319px;
    text-align: justify;
    padding: 10px;
  }

  .subtitle_text {
    font-family: Exo2-VariableFont_wght, sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .subtitle-text_part {
    font-weight: 400;
  }

  .exp-main__text {
    font-family: Exo2-VariableFont_wght, sans-serif;
    list-style-type: disc;
    margin-left: 15px;
    margin-bottom: 20px;
  }
}

@media (min-width: 769px) {
  .head {
    margin: auto;
    display: flex;
    width: 765px;
    padding: 20px;
  }

  .main-spec {
    color: #414341;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .main-info {
    display: block;
    margin-bottom: 20px;
    margin-top: 3px;
    margin-left: 40px;
  }

  .main-info__item {
    margin-bottom: 30px;
    font-family: Exo2-VariableFont_wght, sans-serif;
  }

  .main-name {
    margin-top: 10px;
    display: block;
    font-family: Exo2-VariableFont_wght, sans-serif;
  }

  .main-social-ico {
    display: flex;
    /* width: 150px; */
    justify-content: space-between;
    font-family: Exo2-VariableFont_wght, sans-serif;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px grey;
    margin-bottom: 20px;
  }

  .main-soc__link {
    text-decoration: none;
    color: #000000;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
  }

  .svg-size {
    width: 35px;
    height: 35px;
    fill: #6cbbff;
  }

  .photo {
    margin-top: 20px;
    display: block;
    border-radius: 10px;
    width: 200px;
    height: 240px;
    background-image: url(../img/stiven_b.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .main-about {
    display: flex;
    margin: auto;
    width: 745px;
    text-align: justify;
    padding: 10px;
    margin-bottom: 50px;
  }

  .about-title__text {
    font-family: Exo2-VariableFont_wght, sans-serif;
    margin-bottom: 10px;
    width: 120px;
  }

  .about-main__text {
    font-family: Exo2-VariableFont_wght, sans-serif;
    margin-left: 15px;
  }

  .main-exp {
    display: flex;
    margin: auto;
    width: 745px;
    text-align: justify;
    padding: 10px;
  }

  .subtitle_text {
    font-family: Exo2-VariableFont_wght, sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .subtitle-text_part {
    font-weight: 400;
  }

  .exp-main__text {
    font-family: Exo2-VariableFont_wght, sans-serif;
    list-style-type: disc;
    margin-left: 15px;
    margin-bottom: 20px;
  }
}
